fieldset {
  margin: 0;
  padding: 0;
  border: none;
  legend {
    padding: 0;
    &.vc {
      background: url(../images/version-control.svg) no-repeat;
      padding: 0 0 0px 1.5em;
    }
  }
  input {
    margin: 0;
    border-width: 0;
  }
}