lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

Thumbs.db
.DS_Store

npm-debug.log
node_modules

.build
.bundled
public

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
*.code-workspace
