<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]--> {! fix for IE9 rendering in quirks mode !}
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='format-detection' content='telephone=no'>
    <title>{content.pageTitle}</title>
    <link rel='stylesheet' href='/css/global.css'>
  </head>
  <body>
    <main>
      <header>
        <h1>
          <a class='icon logo' href='/'>cadre home</a>
        </h1>
        <nav>
          <ul>
            <loop through='nav' val='route'>
              <li>
                <a href='{route}'>
                  {route}
                </a>
              </li>
            </loop>
            <li>
              <a class='icon nav-icon info' href='/info'>info</a>
            </li>
          </ul>
        </nav>
        <img class='icon nav-icon caci' src='/images/caci-logo.svg' alt=''/>
      </header>
      {pageContent}
    </main>
    <loop through='scripts' val='s'>
      <script type='text/javascript' src='{s}'></script>
    </loop>
  </body>
</html>