// Global styles

@face: @default-font;

html,
body {
  font-family: @face;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

main {
  > header {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: @global-sidebar-background;
  }
}

main {
  > article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: @global-content-background;
  }
}

// global vars and mixins
@import "fonts.less";
@import "colors.less";

// global components
@import "components/descriptionlists.less";
@import "components/fieldsets.less";
@import "components/icons.less";
@import "components/listitems.less";

// views
@import "homepage.less";
