// Global styles

@face: sans-serif;

html,
body {
  font-family: @face;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #eee;
}

main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

main > header {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

main > article {
  flex-grow: 1;
  background-color: #e5e5e5;
}

.logo {
  background: no-repeat url(/images/cadre-logo.svg);
  display: inline-block;
  text-indent: -300%;
  transform: rotate(-7deg);
  width: 70px;
}

.nav-icon {
  width: 42px;
  padding: 20px 0;
}

@import "more.less";
