<include src='layouts/main'>
  <arg pageContent>
    <unless tempProjectName>
      <article>
          <form action='/' method='post'>
            <fieldset id='name'>
              <legend>Pipeline Project Name</legend>
              <label for="title">My project title</label>
              <input name='projectTitle' type='text' id='title' placeholder='My project title...'>
            </fieldset>
            <button class="btn submit" hidden>Submit</button>
          </form>
      </article>
    </unless>
    <else>
      <article>
        <h1>{tempProjectName}</h1>
        <form action='/' method='post'>
          <fieldset id='options'>
            <legend>Pipeline Stages</legend>
            <ul>
              <li hidden>
                <label for="title">My project title</label>
                <input id='title' name='projectTitle' type='text' value='{tempProjectName}'>
              </li>
              <li>
                <label for="build">Build</label>
                <input id='build' name='build' type='checkbox' value='build'>
              </li>
              <li>
                <label for="test">Test</label>
                <input id='test' name='test' type='checkbox' value='test'>
              </li>
              <li>
                <label for="deploy">Deploy</label>
                <input id='deploy' name='deploy' type='checkbox' value='deploy'>
              </li>
            </ul>
          </fieldset>
          <button class="btn submit">Submit</button>
        </form>
      </article>
    </else>
  </arg>
</include>
