<include src='layouts/main'>
  <arg pageContent>
    <article id='info'>
      <section>
        <img src='images/cadre-logo.svg' alt='cadre logo'>
        <h1>CACI Deployment and Rapid-Development Environment</h1>
        <p>CADRE provides a complete, state of the art cloud centric development and deployment environment, focused on web and mobile applications that enables Agile and DevOps style software lifecycle management.</p>
        <p>A collaboration between Rome, NY and Washington, DC offices</p>
      </section>
    </article>
  </arg>
</include>